/* :root {

} */
ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

body {
    background: #E5E5E5;
}

/*header*/
.header {
    width: 100%;
}

.navbar__wrap {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background: #F9FAFC;

}

.navbar__logo {
    padding-left: 60px;
}

.navbar__menu {
    width: 70%;
    height: 60px;
    background-image: url('../img/navbar_menu_bg.png');
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    vertical-align: middle;
}

.navbar__menu ul {
    padding-left: 100px;
    list-style: none;
    display: flex;
}

.navbar__menu ul li {
    height: 60px;
    padding: 0 15px;
}

.navbar__menu ul li a {
    text-decoration: none;
    display: grid;
    place-items: center;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    color: #FFFFFF;
    height: 100%;
}

.navbar__menu ul li:last-child a {
    display: flex;
}

.navbar__menu ul li:last-child a span {
    margin: 0 5px;
}

/*header*/

/*banner*/
.banner {
    width: 100%;
}

.banner img {
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: -100px;
}

/*banner*/

/*searchTrtip*/
.searchTrip {
    background: #FFFFFF;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 24px;
}

/*searchTrtip*/

/*searchTicket__wrap*/
.searchTicket__wrap {
    padding-bottom: 24px;
    border-bottom: 1px solid #ECEDF1;
    display: flex;
    justify-content: space-between;
}


/*searchTicket__content*/
.searchTicket__content {
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
}

.searchTicket__item {
    flex-basis: 25%;
    display: flex;
    margin-right: 15px;
    background: #FFFFFF;
    border: 1px solid #CFD3DB;
    box-sizing: border-box;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 8px;
    position: relative;
}

.searchTicket__item__left {
    margin-right: 15px;
}

.searchTicket__item__right h3 {
    margin-top: 8px;
}

.searchTicket__item__title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #646D84;
}

.searchTicket__item__right p {
    margin-top: 8px;
}

.searchTicket__submit {
    flex-basis: 20%;
    background: linear-gradient(0deg, #F7941E 0%, #F9A94B 49.42%);
    border: 1px solid #F7941E;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchTicket__submit .searchTicket__submit__right h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 10px;
}

/*searchTicket__content*/


/*select2*/
.select2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
}

.select2-selection {
    height: 100% !important;
    opacity: 0 !important;
}

#datepicker {
    width: 100%;
    border: none;
}

#seat {
    width: 100%;
    border: none;
}

.bookingStep {
    margin-top: 20px;
}

.bookingStep h3 {
    text-align: center;
    margin-bottom: 20px;
}

.bookingStep__content {
    display: flex;
}

.bookingStep__content span {
    padding-top: 30px;
}

.bookingStep__content__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookingStep__content__item p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #464D5D;
    margin-top: 8px;
}

.bookingStep__content__item--icon {
    width: 64px;
    height: 64px;
    background: #FDEAD2;
    border: 2px dashed #F7941E;
    border-radius: 32px;
    display: grid;
    place-items: center;
}

/*searchTicket__wrap*/

/*intro*/
.intro {
    background: #FDEAD2;
}

.intro__item__download {
    display: flex;
    justify-content: space-between;
}

.intro__item__right {
    margin-left: 15px;
    padding-top: 30px;

}

.intro__item__store {
    padding-top: 42px;
}

.intro__item__store img:last-child {
    padding: 10px;
}

.intro__item__support {
    padding: 15px 0;
}

.intro__item__support h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #464D5D;
}

.intro__item__support .callphone {
    margin: 10px 0;
}

.callphone span {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #F7941E;
    margin-left: 8px;
}

.note {
    padding: 8px;
    background: #FFFFFF;
    border: 2px dashed #F7941E;
    box-sizing: border-box;
    border-radius: 8px;
}

.note p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #464D5D;
}

.note p span {
    color: #F7941E;
}

/*intro*/

/*payment*/
.payment {
    margin: 50px;
}

.payment h3 {
    text-align: center;
    margin-bottom: 30px;
}

.paymentIntro__content {
    display: flex;
    justify-content: space-between;
}

.paymentIntro__item:first-child {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background: #D5F2EA;
    border: 2px dashed #00C48C;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin-right: 32px;
}

.paymentIntro__item:last-child {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background: #E5E7FA;
    border: 2px dashed #6979F8;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.paymentIntro__item__left {
    margin: 24px 24px 24px 24px;
}

.paymentIntro__item__left img {
    width: 80px;
    height: 80px;
}

.paymentIntro__item__right p {
    /* width: 80%; */
    margin: 37px 24px 37px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #232731;
}

/*payment*/


/*scheduleInfo*/
.scheduleInfo {
    margin-top: 50px;
}

.scheduleInfo__item {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    position: relative;
    height: 160px;
}

.scheduleInfo__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px 0 19px 24px;
}

.scheduleInfo__content button {
    width: 112px;
    height: 32px;
    background: #FDEAD2;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F7941E;
    border: none;
}

.scheduleInfo__item .scheduleInfo__img {
    flex-basis: 40%;
    background-repeat: no-repeat;
}

.scheduleInfo__img img {
    position: absolute;
    right: 0;
}

/*scheduleInfo*/


/*footer*/
.footer {
    margin-top: 30px;
    background: #ECEDF1;
    padding-top: 30px;
    /* height: 400px; */
}

.footer__item h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #F7941E;
    margin-bottom: 30px;
}

.footer__item p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #464D5D;
    margin: 10px 0;
}

.footer__address {
    margin-bottom: 30px;
}

.footer__app img {
    width: 48%;
}

.footer__item__menu {
    display: flex;
    flex-direction: column;
}

.footer__item__menu a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464D5D;
    margin: 5px 0;
}

.footer__social {
    display: flex;
    flex-direction: column;
}

.footer__social a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464D5D;
    margin: 5px 0;
}

.footer__map iframe {
    width: 257px;
    height: 192px;
}

/*footer*/